<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="style.css" />
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<title>The Sims 4 Real Estate Quiz</title>
</head>

<body>
    <!-- button to refresh the page/game terminal -->
    <button id="playbtn" onclick="window.location.reload()">PLAY GAME</button>

    <div id = "terminalcontainer">
        <div id="terminal"></div>
    </div>

    <!-- copyright text -->
    <div id="copy">
        &copy; Katherine Biggs
    </div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>